*{
        padding: 0;
        margin:0;  
        box-sizing: border-box;   
      }
      
      .headerdetails{
              display: inline-flex;
              background-color: #fff;
              font-size:16px;
              width: 101.05%;
      }

      .logo{
              width: 4.5rem;
              height: auto;
              /* position: absolute; */
              top: 0rem;
              left: 20px;
      }
      
      .searchbar input{
              margin-top: 20px;
              margin-left: 150px;
              width: 200px;
              height: 40px;
              border: 1px solid black;
              border-radius: 20px;
              margin-bottom: 20px;
              padding: 5px;
              padding-left: 10px;
      }
      
      .menu-bar{
              background-color: white;
              text-align: center;
              margin-left: 100px;
      }
      
      .menu-bar ul{
              display: inline-flex;
              list-style: none;
              color:black;     
              font-weight: 600; 
      
      }
      
      .menu-bar ul li{
            width: 100px;
            margin: 5px;
            padding: 5px;
            margin-top: 25px;
      }
      
      .menu-bar ul li a{
              text-decoration:none;
              color:black;
        }
      
      .active, .menu-bar ul li :hover{
              background-color: rgb(232, 227, 227);
              color:#8e44ad;
              padding-top: 8px;
              padding-left:8px;
              padding-right: 8px;    
              padding-bottom: 8px;
              border-radius: 5px;
      }
      
      .menu-bar .fa{
              margin-right: 5px;
      
      }
      
      .sub-menu1{
              display: none;
      }
      
      .menu-bar ul li:hover .sub-menu1{
              display: block;
              position: absolute;
              background-color: rgb(155, 149, 149);
              color:#8e44ad;
              margin-top: 5px;
              margin-left: 15px;
      }
      
      .menu-bar ul li:hover .sub-menu1 ul{
              display: block;
              margin:5px;
      }
      
      .menu-bar ul li:hover .sub-menu1 ul li{
              width:200px;
              padding:10px;
              border-bottom:1px dotted #fff;
              border-radius: 0;
              text-align: left;
      }
      .menu-bar ul li:hover .sub-menu1 ul li:last-child{
              border-bottom: none;
      }
      
      .menu-bar ul li:hover .sub-menu1 ul a:hover{
        background-color: rgb(232, 227, 227);
        color:#8e44ad;
      }
      
      .icons li{
              display: inline-flex;
              margin-right: 10px;
      }