*{
        padding: 0;
        margin:0;  
        box-sizing: border-box;   
      }
      
      .headerdetails{
              /* display: inline-flex; */
              background-color: #fff;
              font-size:16px;
              width:100%;
              height: 80px;
              position: relative;
              z-index: 999999999;
      }
      .logo{
              width: 4.5rem;
              height: auto;
              /* position: absolute; */
              top: 0rem;
              left: 20px;
      }
      
      .searchbar input{
              margin-top: 20px;
              margin-left: 150px;
              width: 200px;
              height: 40px;
              border: 1px solid black;
              border-radius: 20px;
              margin-bottom: 20px;
              padding: 5px;
              padding-left: 10px;
              left: 100px;
      }
      
      .menu-bar{
              background-color: white;
              text-align: center;
              margin-left: 100px;
              height: 80px;
      }
      
      .menu-bar ul{
              display: inline-flex;
              list-style: none;
              color:black;     
              font-weight: 600; 
      
      }
      
      .menu-bar ul li{
            width: 100px;
            margin: 5px;
            padding: 5px;
            margin-top: 25px;
      }
      
      .menu-bar ul li a{
              text-decoration:none;
              color:black;
        }
      
      .active, .menu-bar ul li :hover{
              background-color: rgb(232, 227, 227);
              color:#50116c;
              padding-top: 8px;
              padding-left:8px;
              padding-right: 8px;    
              padding-bottom: 8px;
              border-radius: 5px;
      }
      
      .menu-bar .fa{
              margin-right: 5px;
      
      }
      
      .sub-menu1{
              display: none;
      }
      
      .menu-bar ul li:hover .sub-menu1{
              display: block;
              position: absolute;
              background-color: rgb(155, 149, 149);
              color:#50116c;
              margin-top: 5px;
              margin-left: 15px;
      }
      
      .menu-bar ul li:hover .sub-menu1 ul{
              display: block;
              margin:5px;
      }
      
      .menu-bar ul li:hover .sub-menu1 ul li{
              width:200px;
              padding:10px;
              border-bottom:1px dotted #fff;
              border-radius: 0;
              text-align: left;
      }
      .menu-bar ul li:hover .sub-menu1 ul li:last-child{
              border-bottom: none;
      }
      
      .menu-bar ul li:hover .sub-menu1 ul a:hover{
        background-color: rgb(232, 227, 227);
        color:#50116c;
      }
      
      .icons li{
              display: inline-flex;
              margin-right: 10px;
      }

      .sub-menu0{
        height: 80px;
        width: 600px;
        margin-left: 110px;
      }

      .notification{
        margin-top: -50px;
        margin-left: 55px;
        list-style: none;
      }

      .chat{
        margin-top: -24px;
        margin-left: 230px;
        list-style: none;
      }

      .profile_pic{
        margin-top: -48px;
        margin-left: 620px;
        list-style: none;
      }

      .company_name{
        margin-top: -78px;
        margin-left: 1288px;
        list-style: none;
        font-weight: 600;
    }
      

      .company_type{
        margin-top: -33px;
        margin-left: 1437px;
        list-style: none;
        font-weight: 600;
    }
      