/* ------This is a common stylesheet for every view------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --theme-purple: #444BF8;
  --theme-red: #FE3D4F;
  --theme-blue: #037AFF;
  --bg-theme-blue: #DBEBFD;
  --theme-black: #252631;
  --theme-bgwhite: #F2F2F7;
  --theme-bggrey: #8A8888;
  --theme-grey: #50515A;
  --theme-lightgrey: #EAEAEA;
  --theme-disabledgrey: #CCCCCC;
  --error-red: #DA2346;
  --bg-error-red: #FFD8DF;
  --success-green: #1BC657;
  --bg-success-green: #C0F0D1;
  --warning-yellow: #FFBF02;
  --bg-warning-yellow: #FFF6DC;
  --white: #FFFFFF;
  --black: #000000;
}


* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* text-align: left; */
  color: var(--black);
  background-color: var(--theme-bgwhite);
}

header {
  align-items: center;
  /* padding: 10px; */
  width: 100%;
}

.header-topic {
  text-align: center;
}

.header-subtopic {
  text-align: center;
  color: var(--theme-grey);
}

h1 {
  font-size: 30px;
  font-weight: 600;
  display: block;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

footer {
  width: 100%;
  padding-right: 10px;
  height: 28px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer p {
  font-size: 14px;
  text-align: right;
  color: var(--theme-grey);
  display: block;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.horizontalCenter {
  display: flex;
  justify-content: center;
}

.hidden-element {
  visibility: hidden
}

/* white box container */
.contentBox {
  font-weight: 500;
  margin: 0;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.rotated180 {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}



/* Common template for pages with tables */

.content .page-top-main-container {
  margin-top: 20px;
  padding: 0 70px;
  display: flex;
  justify-content: right;
  width: 100%;
}

.content .page-top-main-container .btn {
  font-weight: 500;
  padding: 7px;
  width: 120px;
}

.content .filter-options .options-container {
  display: flex;
  padding: 15px 70px 10px;
  width: 100%;
  min-width: 330px;
}

.content .filter-options .options-container label {
  margin-top: 10px;
}

.content .filter-options .options-container .left-section {
  width: 100%;
  margin-right: auto;
}

.content .filter-options .options-container .right-section {
  margin-left: 30px;
}

.content .filter-options .options-container .btn {
  margin-top: 35px;
  font-weight: 500;
  padding: 7px;
  width: 120px;
}

@media (max-width: 940px) {
  .content .filter-options .options-container {
    flex-direction: column;
  }

  .content .filter-options .options-container .right-section {
    margin-left: auto;
  }

  .content .filter-options .options-container .btn {
    margin-top: 0px;
  }
}

/* End of Common template for pages with tables */


/* Common button styles */

.btn {
  display: block;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
  transition: ease-in-out 0.2s;
  cursor: default;
}

.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  /* easily remove hover effect */
}

.btn.btn-filled {
  border: none;
  color: var(--white);
}

.btn.btn-outlined {
  background-color: transparent;
}

.btn.btn-filled.btn-theme-purple {
  background-color: var(--theme-purple);
}

.btn.btn-filled.btn-theme-purple:hover {
  background-color: #3A40D8;
  filter: drop-shadow(0px 0px 11px rgba(68, 75, 248, 0.26));
}

.btn.btn-filled.btn-theme-red {
  background-color: var(--theme-red);
}

.btn.btn-filled.btn-error-red {
  /* transition: 0.4s ease-in-out; */
  background-color: var(--error-red);
}

.btn.btn-filled.btn-error-red:hover {
  background-color: #BE2D3B;
  box-shadow: 0px 0px 11px rgba(220, 53, 69, 0.25);
}

.btn.btn-outlined.btn-error-red:hover {
  /* color: #BE2D3B;
  border: 2px solid #BE2D3B; */
  box-shadow: 0px 0px 11px rgba(220, 53, 69, 0.25);
}

.btn.btn-filled.btn-black {
  background-color: var(--theme-black);
}

.btn.btn-filled.btn-black:hover {
  background-color: #09090C;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.15))
}

.btn.btn-outlined.btn-black {
  border: 2px solid var(--theme-black);
  color: var(--theme-black);
}

.btn.btn-outlined.btn-black:hover {
  background: rgba(234, 234, 234, 0.35);
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
}

.btn.btn-filled.btn-grey {
  background-color: var(--theme-grey);
}

.btn.btn-outlined.btn-error-red {
  border: 2px solid var(--error-red);
  color: var(--error-red);
}

.btn.btn-outlined.btn-blue {
  border: 2px solid var(--theme-blue);
  color: var(--theme-blue);
}

.btn.btn-filled.btn-blue {
  background-color: var(--theme-blue);
}

.btn.btn-outlined.btn-theme-purple {
  border: 2px solid var(--theme-purple);
  color: var(--theme-purple);
}

.btn.btn-outlined.btn-grey {
  border: 2px solid var(--theme-grey);
  color: var(--theme-grey);
}

.btn.btn-filled.btn-success-green {
  background-color: var(--success-green);
}

.btn.btn-filled.btn-success-green:hover {
  background-color: var(--success-green);
}

.btn.btn-filled:disabled,
.btn.btn-filled[disabled] {
  background-color: var(--theme-disabledgrey);
}

.btn.btn-outlined:disabled,
.btn.btn-outlined[disabled] {
  border: 2px solid var(--theme-disabledgrey);
  color: var(--theme-disabledgrey);
}

/* End of Common button styles */


/* Common styles for status boxes */

.status-tag {
  display: block;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  width: 120px;
  font-weight: 500;
  font-size: 16px;
  /*Remove this later*/
}

.status-error-red,
.confirm-status.red {
  background-color: var(--bg-error-red);
  color: var(--error-red);
}

.status-success-green,
.confirm-status.green {
  background-color: var(--bg-success-green);
  color: var(--success-green);
}

.status-blue,
.confirm-status.blue {
  background-color: var(--bg-theme-blue);
  color: var(--theme-blue);
}

.status-grey,
.confirm-status.grey {
  background-color: var(--theme-lightgrey);
  color: var(--theme-grey);
}

.status-warning-yellow,
.confirm-status.yellow {
  background-color: var(--bg-warning-yellow);
  color: var(--warning-yellow);
}

/* End of Common styles for status boxes */



/* Common styles for top right close btn */

.top-right-closeBtn {
  color: var(--theme-grey);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: ease-in-out 0.3s;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right-closeBtn:hover {
  color: var(--black);
}

.white-red-hover {
  color: var(--theme-lightgrey) !important;
}

.white-red-hover:hover {
  color: var(--theme-red) !important;
}

/* End of Common styles for top right close btn */


/* error page styles */

.error404 .main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.error404 .inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error404 .inner-container h1 {
  display: block;
  font-size: 280px;
  font-weight: 700;
  color: var(--theme-black);
}

.error404 .btn {
  margin-top: 20px;
  padding: 7px;
  width: 150px;
}

@media (max-width: 768px) {
  .error404 .inner-container h1 {
    font-size: 250px;
  }
}

@media (max-width: 768px) {
  .error404 .inner-container h1 {
    display: block;
    font-size: 250px;
    font-weight: 700;
    line-height: 300px;
    color: var(--theme-black);
  }
}

.font-numeric {
  font-family: "Roboto", sans-serif;
}

/* end of error page styles */

.hideElement {
  visibility: hidden;
}

/* styles of status toast */
.statusToast {
  z-index: 100;
  background-color: var(--white);
  padding: 20px 15px 20px 20px;
  border-radius: 10px;

  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -90px;
  width: 450px;
  height: 90px;
  overflow: hidden;

}

.statusToast.show {
  top: 0;
  animation: show_toast 1s ease forwards;
}

.statusToast.hide {
  animation: hide_toast 1s ease forwards;
}

@keyframes show_toast {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }

  40% {
    opacity: 10;
    transform: translateY(35px);
  }

  80%,
  100% {
    opacity: 100;
    transform: translateY(20px);
  }
}

@keyframes hide_toast {
  0% {
    opacity: 100;
    transform: translateY(110px);
  }

  50% {
    opacity: 20;
    transform: translateY(125px);
  }

  100% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(0px);
  }
}

.statusToast.success {
  border-left: 5px solid var(--success-green);
}

.statusToast.success .content .icon {
  background-color: var(--success-green);
}

.statusToast.error {
  border-left: 5px solid var(--error-red);
}

.statusToast.error .content .icon {
  background-color: var(--error-red);
}

.statusToast .content {
  display: flex;
}

.statusToast .content .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statusToast.success .content .icon .error-icon {
  display: none;
}

.statusToast.error .content .icon .success-icon {
  display: none;
}

.statusToast .content .details {
  margin-left: 20px;
}

.statusToast .content .details span {
  font-size: 17px;
  font-weight: 600;
}

.statusToast .content .details p {
  color: var(--theme-grey);
}

.statusToast .close-icon {
  background-color: var(--theme-lightgrey);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.statusToast .close-icon:hover {
  background-color: #dadada;
}

.info-line {
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  color: var(--theme-grey);
}

.togglecheckbox-dd {
  margin-top: 5px;
  position: relative;
  width: 53px;
  height: 25px;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.togglecheckbox-dd.purple:checked {
  background: var(--theme-purple);

}

.togglecheckbox-dd::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.togglecheckbox-dd:checked::before {
  left: 30px;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


