* {
        box-sizing: border-box;
    }
    
    body {
        background: var(--theme-bgwhite);
    }
    
    .main-container {
        width: 100vw;
        min-height: 100vh;
        background-color: #F2F1F1;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    /* Common container for reg and signin */
    
    .form-container {
        display: flex;
        justify-content: center;
        height: max-content;
        padding: 50px !important;
    }
    
    .ser-container,
    .reset-container {
        width: 650px;
        height: fit-content;
        margin-top: 150px;
        margin-bottom: 100px;
        background-color: rgba(217, 217, 217,0.8);
    }
    
    @media (max-width: 768px) {
    
        .ser-container,
        .reset-container {
            width: 80%;
        }
    }
    
    @media (max-width: 656px) {
        .form-container .btn.middle {
            margin-top: 0 !important;
        }
    }
    
    @media (max-width: 520px) {
    
        .ser-container,
        .reset-container {
            min-width: 416px;
            width: 100vw;
            height: 100vh;
        }
    }
    
    /* Form design for login reg n resetpassword */
    
    .form {
        width: 100%;
    }
    
    .form .title {
        text-align: center;
        padding-bottom: 20px;
    }
    
    .form .row {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0 25px;
    }
    
    .form .row-last {
        margin-bottom: 10px !important;
    }
    
    .form .column.spec {
        margin-top: 23px;
    }
    
    .logo-textBlack {
        visibility: hidden;
    }
    
    @media (max-width: 524px) {
        .form .column.spec {
            margin-top: 0px;
        }
    }
    
    @media (max-width: 656px) {
        .logo-textWhite {
            visibility: hidden;
        }
    
        .logo-textBlack {
            visibility: visible;
        }
    
        .ser-container {
            width: 100%;
            height: 100%;
            border-radius: 0 !important;
            padding-top: 130px !important;
        }
    }
    
    .form .text-group,
    .form .radio-container {
        margin-bottom: 20px;
    }
    
    .form-container input[type="text"],
    .form-container input[type="number"],
    .form-container input[type="date"],
    .form-container input[type="password"],
    .form-container input[type="file"]{
        display: block;
        border-radius: 5px;
        padding: 5px 20px;
        border: hidden;
        height: 40px;
        width: 100%;
        background-color: var(--theme-lightgrey);
    }
    
    .form-container input[type="radio"] {
        margin:15px 10px;
    }
    
    select{
        display: block;
        border-radius: 5px;
        padding: 5px 17px;
        border: hidden;
        height: 40px;
        width: 100%;
        background-color: var(--theme-lightgrey); 
        margin-bottom: 20px;
        color: rgb(126, 122, 122);
    }
    

    .form .radio-container {
        margin-top: 5px;
    }
    
    .form .radio-group {
        align-self: center;
        display: inline;
        cursor: pointer;
        margin-right: 15px;
    }
    
    .form .radio-group span {
        font-size: 14px;
    }
    
    .form .error {
        display: block;
        font-size: 13px;
        color: var(--theme-red);
    }
    
    .form hr {
        margin-bottom: 10px;
        color: var(--theme-lightgrey);
    }
    
    /* End of Form design for login reg n resetpassword */
    
    .form-container .btn {
        padding: 7px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .form-container .btn.middle {
        margin-top: 27px;
        width: 100px;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .footer-container .btn {
        margin: 20px auto 20px auto;
        width: 130px;
    }
  
    .top-left-logo {
        position: absolute;
        left: 30px;
        top: 20px;
        height: 70px;
        display: block;
    }
    
/* <--------------------------------------------- View service Page-----------------------------> */
    .viewservicecontaniner {
        font-weight: 500;
        margin: 0;
        padding: 50px;
        border-radius: 6px;
        background-color: var(--white);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        width: 50%;
        margin-left:600px;
        margin-top:-200px; 
      }

      .viewservicecontaniner li{
        padding:25px;
      }
      

      .imagedisplay{
        margin-top: 250px;
        border: 1px solid black;
        width: 25%;
        margin-left: 50px;
        height: auto;
      }

