  
  .grid {
    font-size: 162.5%;
    margin-left:10%;
    display:grid;
    width:auto;
    padding:0;
    list-style-type:none;
    display: inline-flex;
    grid-template-columns:60px 60px;
    grid-gap:2rem;
  }
  
  @media screen and (min-width: 768px){
    .grid__item:first-child{
      grid-column: span 2;
    }
  }
  
  .card {
    background-color: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition:transform .1s ease-in;
    display:flex;
    flex-direction:column;
    min-height:50%;
    border-radius: 20px;
  }
    
    .card:hover,
    .card:focus {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.16);
    }
    
    .card__image img{
        width:100%;
        height:250px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card__content {
      padding:1rem;
      display:flex;
      flex-direction:column;
      flex:1;
    }
    
    .card__title {
      margin:0;
    }
    
    .card__body {
      flex:1;
    }
    
    .card__footer {
      text-transform:uppercase;
      font-size:.75rem;
      color:#666;
      font-weight:600;
    }

    .styled-table {
      border-collapse: collapse;
      margin: 25px 25px 25px 25px;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
    }

    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        width:200px;
        text-align: center;
    }

    .data-table tr,
    .data-table td{
        padding: 12px 15px;
        width:200px;
    }

    .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }

    .backbutton {
      background-color: #252631;;
      border: none;
      color: white;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 3px 1.5px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 15px;
    }
    
    .backbutton:hover {
      background-color: rgb(39, 41, 39);;
      color: white;
    }
    
  
  

  
  
  